@font-face {
    font-family: MasterOfBreak;
    src: url('../fonts/master_of_break.eot'); /* IE9 Compat Modes */
    src: url('../fonts/master_of_break.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/master_of_break.woff') format('woff'), /* Modern Browsers */
    url('../fonts/master_of_break.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'WhitneySemiBold';
    src: url('../fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.gardenBrand {
    max-width: 575px;
    display: block;
    margin: auto;
}

.gardensFont {
    font-family: MasterOfBreak, serif;
}

.fit {
    max-width: 100%;
    max-height: 100%;
}

.product {
    cursor: pointer;
    min-width: 250px;
    max-width: 250px;
    width: 250px;
    min-height: 250px;
    max-height: 250px;
    height: 250px;
    margin: 5px;
}

.productBackground {
    width: 250px;
    height: 250px;
    background-color: #eee;
    border-radius: 6px;
}

.productImage {
    position: absolute;
    left: 50%;
    top: 50%;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.productTitle {
    position: absolute;
    background-color: rgba(2, 2, 2, 0.5);
    border-radius: 6px;
    font-family: MasterOfBreak, serif;
    padding: 5px 0;
    width: 100%;
    margin: 0;
    color: #AAAAAA;
    font-size: 28px;
    text-align: center;
}

.productPrice {
    background-color: rgba(20, 20, 20, 0.2);
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    font-family: WhitneySemiBold, serif;
    padding: 0 0 0 0;
    margin: 0;
    color: #FFFFFF;
    font-size: 18px;
    width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.gallery-item {
    min-width: 150px;
    max-width: 150px;
    margin: 5px;
}

#modal-title {
    text-align: center;
    width: 100%;
}

pre, .price {
    white-space: pre-line;
}

.price {
    text-align: center;
}