<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link href="test.css" rel="stylesheet">
</head>
<body ng-app="Test">
<div ng-controller="Controller">
    <div id="asd" class="grid">
        <div class="grid-item {{n.cls}}" ng-repeat="n in name" on-finish-render="ngRepeatFinished">
            {{n.name}}
        </div>
    </div>
    <button ng-click="add()">PressME</button>
    <button id="a">A</button>
</div>

<script src="../js/jquery-2.2.2.min.js"></script>
<script src="../js/isotope.min.js"></script>
<script src="../js/angular.min.js"></script>

<script src="test.js"></script>
</body>
</html>