<br />
<div class="card">
    <input type="text" [(ngModel)]="searchText"/>
</div>
<div class="card-columns" data-masonry='{}'>
    <div class="prod ng-animate" *ngFor="#item of products | search : searchText">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    {{item.title}}
                </h4>
            </div>
            <img class="card-img" [src]="item.image"/>
            <div class="card-block">
                <h4 class="card-text">
                    {{item.price}}
                </h4>
            </div>
        </div>
    </div>
</div>