<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4Gardens</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/4Gardens.css" rel="stylesheet">
    <link href="css/animations.css" rel="stylesheet">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="css/bootstrap-image-gallery.css">
    <link rel="stylesheet" href="css/jquery.flipster.min.css">
</head>
<body ng-app="4Gardens">

<div class="container-fluid">
    <div class="gardenBrand">
        <img class="fit center-block" src="assets/images/4Gardens%20Logo_Colour.png" alt="4Gardens"/>
    </div>
    <!--TODO add carousel with random images-->
</div>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="NavbarController">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Products <span class="caret" ng-if="state == 'loaded' || state == null"></span>
                        <img style="height: 15px;" src="assets/images/loading.gif" ng-if="state == 'loading'"></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="item in products"><a href="#/product/{{item.id}}">{{item.type}}</a></li>
                    </ul>
                </li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-view></div>
</div>

<!-- Scripts -->
<script src="js/jquery-2.2.2.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/isotope-packery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/ng-file-upload-shim.js"></script>
<script src="js/ng-file-upload.js"></script>
<script src="js/noty/packaged/jquery.noty.packaged.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.js"></script>
<script src="js/jquery.flipster.min.js"></script>

<script src="app/4Gardens.js"></script>
<script src="service/NotifierServer.js"></script>
<script src="service/ProductTypeService.js"></script>
<script src="service/ProductService.js"></script>
<script src="app/HomeController.js"></script>
<script src="app/NavbarController.js"></script>
<script src="app/ProductsController.js"></script>
<script src="app/ContactController.js"></script>

</body>
</html>