<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4Gardens</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/4Gardens.css" rel="stylesheet">
    <link href="css/animations.css" rel="stylesheet">
</head>
<body ng-app="4Gardens">

<div class="container">
    <div class="col-xs-6 col-sm-4">
        <img class="fit center" src="assets/images/4Gardens%20Logo_Colour.png" alt="4Gardens"/>
    </div>
    <div class="col-xs-6 col-sm-4">
        <h1 class="gardensFont center-vert">
            Hand Made Garden Decor
        </h1>
    </div>
</div>

<!--<div class="container jumbotron" ng-controller="HomeController" style="position: relative">-->
<!--<img class="fit center gardenTitle" src="assets/images/loading.gif" alt="Loading" ng-if="loading">-->
<!--<div ng-if="!loading" class="animate-if">-->
<!--<img class="fit center" src="{{image}}" alt="loading">-->
<!--<p>{{tst}}</p>-->
<!--</div>-->
<!--</div>-->

<!-- Scripts -->
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>

<!--<script src="app/4Gardens.js"></script>-->
<!--<script src="app/HomeController.js"></script>-->

</body>
</html>