<div class="flipster_section">
    <img class="loading_flipster" src="assets/images/loading.gif" ng-if="list == null || list.length == 0"/>
</div>
<div class="description well">
    <h3>
        Our cement creations are all handmade, not one will be the same, but similar.
    </h3>
</div>
<div>

</div>
<div class="home-detail container-fluid well">
    <p>
        Outdoor living spaces can be the most relaxing &amp; special part of your home. We can help you create your own
        peaceful space in which you can escape.
    </p>
    <br/>
    <p>
        We hand make small and large fountains, stepping stones, garden pots of various size, the most amazing garden
        lights
        and one of a kind fencing.
    </p>
</div>