<div class="well">
    <input style="max-width: 100%; width: 100%" type="text" ng-change="onSearchChanged()" ng-model="search"
           placeholder="Search">
</div>
<div class="container-fluid jumbotron" ng-if="(list == null || list.length ===0) && !empty">
    <img class="fit center-block" src="assets/images/loading.gif"/>
</div>
<div class="container-fluid jumbotron" ng-if="empty">
    <h3>It seems we are all sold out.</h3>
</div>
<div id="container" class="container-fluid animate-if" ng-if="list && list.length > 0">
    <div class="product" ng-repeat="item in list" id="{{item.id}}" on-finish-render>
        <div class="productBackground" ng-click="showProduct(item)">
            <img class="productImage" src="{{item.image}}" alt="Loading"/>
            <div class="productTitle">
                {{item.title}}
            </div>
            <div class="productPrice">
                {{item.price | currency : 'R'}}{{item.declaration}}
            </div>
        </div>
    </div>
</div>

<div id="product-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="modal-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h1 id="modal-title" class="modal-title gardensFont">{{selected.title}}</h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-5">
                            <img id="modal-image" class="fit center-block" src="{{selected.image}}" alt="Image"/>
                        </div>
                        <div class="col-lg-7">
                            <h1>Description</h1>
                            <br/>
                            <p id="modal-description">{{selected.description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div style="float: right; margin: 0 15px 0 0;" class="well">
                            <h3 id="modal-price">{{selected.price | currency : 'R'}}{{selected.declaration}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <hr/>
                    </div>
                    <div class="row">
                        <div id="links">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>