<div class="well">
    <button>Create New</button>
    <input style="float: right" type="text" ng-change="onSearchChanged()" ng-model="search" placeholder="Search">
</div>
<div class="container-fluid jumbotron" ng-if="(list == null || list.length ===0) && !empty">
    <img class="fit center-block" src="assets/images/loading.gif"/>
</div>
<div id="container" class="container-fluid animate-if" ng-if="list && list.length > 0">
    <div class="product" ng-repeat="item in list" on-finish-render>
        <div class="productBackground">
            <img class="productImage" src="{{item.image}}" alt="Loading"/>
            <div class="productTitle">
                {{item.title}}
            </div>
            <div class="productPrice">
                {{item.price | currency : 'R'}}{{item.declaration}}
            </div>
        </div>
    </div>
</div>