@font-face {
    font-family: MasterOfBreak;
    src: url('../assets/fonts/master_of_break.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/master_of_break.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/master_of_break.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/master_of_break.ttf')  format('truetype') /* Safari, Android, iOS */
}